<div class="jumbotron">
  <h1>Welcome to AdUp</h1>
  <p>AdUp is a new platform that puts YOU in control of what ads you want to see.  It gives you the power to choose your own categories and interests.  </p>
  <p> Want to hear the best part?  You get PAID to watch ads from some of your favorite brands.  </p>
  <p> <a href="/my_categories" class="btn btn-primary btn-lg">Let's get started</a></p>
</div>
