<div class="page-header">
  <h1></h1>
</div>



<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>



  <tbody>
      <tr>
        <td>
        <iframe width="640" height="390" src="<%= @ad.ad_url %>" frameborder="0" allowfullscreen></iframe>
        </td>
      </tr>
  </tbody>
</table>


<p><a href="/my_categories" class="btn btn-primary"> Explore our other categories </a></p>
