<div class="page-header">
  <h1>Ad #<%= @ad.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Ad</dt>
  <dd>
        <embed width="420" height="345" src=" <%= @ad.ad_url %> type="application/x-shockwave-flash">
        </embed>

        <iframe width="420" height="345" src="<$= @ad.ad_url %>">
        </iframe>
 </dd>
  <dt>CPV</dt>
  <dd><%= @ad.cpv %></dd>

  <dt>Company</dt>
  <dd><%= @ad.company %></dd>

</dl>
