<div class="page-header">
  <h1>Ad #<%= @ad.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Ad url</dt>
  <dd><%= @ad.ad_url %></dd>

  <dt>Cpv</dt>
  <dd><%= @ad.cpv %></dd>

  <dt>Company</dt>
  <dd><%= @ad.company %></dd>

</dl>
