<div class="page-header">
  <h1>Ad View #<%= @ad_view.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Ad</dt>
  <dd><%= @ad_view.ad_id %></dd>

  <dt>User</dt>
  <dd><%= @ad_view.user_id %></dd>

</dl>
