<div class="page-header">
  <h1>Choose a topic to make some monie$$$</h1>
</div>

<p><a href="/categories/new" class="btn btn-primary">Sports</a></p>
<p><a href="/categories/new" class="btn btn-primary">Tech</a></p>
<p><a href="/categories/new" class="btn btn-primary">Movie Trailers</a></p>
<p><a href="/categories/new" class="btn btn-primary">Travel</a></p>
<p><a href="/categories/new" class="btn btn-primary">Funny</a></p>
<p><a href="/categories/new" class="btn btn-primary">Emotional</a></p>
