<div class="page-header">
  <h1>Choose a category to make some monies</h1>
</div>

<p><a href="/categories/4" class="btn btn-primary"> <img src = "http://www.flaticon.com/png/256/8302.png" width="60" height="80"> Sports</a></p>
<p><a href="/categories/3" class="btn btn-primary"> <img src = "http://www.flaticon.com/png/256/319.png" width="40" height="80"> Tech</a></p>
<p><a href="/categories/8" class="btn btn-primary"> <img src = "http://www.flaticon.com/png/256/48148.png" width="80" height="80"> Movie Trailers</a></p>
<p><a href="/categories/5" class="btn btn-primary"> <img src = "http://www.flaticon.com/png/256/45896.png" width="80" height="80"> Travel</a></p>
<p><a href="/categories/2" class="btn btn-primary"> <img src = "http://www.flaticon.com/png/256/42829.png" width="80" height="80"> Funny</a></p>
<p><a href="/categories/9" class="btn btn-primary"> <img src = "http://www.flaticon.com/png/256/33892.png" width="80" height="80"> Emotional</a></p>


