
<div class ="page-header">
  <h3> The <%= @category.category %> video you are going to watch is worth $<%= @ads.cpv %>.  Do you wish to continue?</h3>
</div>

<ul class="pager">
  <li><a href="/my_categories">Nah, take me back to my categories</a></li>
  <li><a href="/create_ad_view?ad_id=<%= @ads.id %>&user_id=<%= current_user.id %>"> Hell yeah!</a></li>
</ul>
