<div class="page-header">
  <h1>Feelin #<%= @category.category %>?</h1>
</div>



<table class="table table-hover">
  <thead>
    <tr>
      <th>Video</th>
      <th>$ and Cents</th>
      <th></th>
      <th></th>
    </tr>
  </thead>



  <tbody>
      <tr>
        <td>
        <iframe width="640" height="390" src="<%= @ads.ad_url %>" frameborder="0" allowfullscreen></iframe>
        </td>
        <td><%= @ads.cpv %></td>
      </tr>
  </tbody>
</table>


