<div class="page-header">
  <h1>Tagging #<%= @tagging.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Category</dt>
  <dd><%= @tagging.category.id %></dd>

  <dt>Ad</dt>
  <dd><%= @tagging.ad.id %></dd>

</dl>
